{% extends 'layout.html' %}

{% block title %}
    Market
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Warring</strong> {{ messages[0][1] }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
{% endwith %}
<div class="row">
    <div class="col-8"><table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody class="table-group-divider table-dark">
            {% for item in dic %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}$</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal{{ item.id }}">
                        Details
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ item.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="background-color: #212529;">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel{{ item.id }}">{{ item.name }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ item.description }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalforbuy{{ item.id }}">
                        Add To Card
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalforbuy{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabelforbuy{{ item.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="background-color: #212529;">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabelforbuy{{ item.id }}">{{ item.name }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are You Sure You Wanna Buy {{item.name}} For {{item.price}}$?
                                    <form method="POST" class="form-signin" style="color:white;">
                                        {{ Buy_form.hidden_tag() }}
                                        <br>
                                        <input id="item_id" name="item_id" type="hidden" value="{{item.id}}">
                                        {{Buy_form.submit(class="btn btn-lg btn-block btn-outline-success")}}
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </td>
            </tr>
        {% endfor %}
        
        </tbody>
      </table>
    </div>
    <div class="col-4">
        {% for item in owned_items %}
            <div class="card w-100 mb-3" style="background-color: #198754; color: white;">
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <h6 class="card-text">{{ item.description }}</h6>
                  <p class="card-text">By: {{ item.price }}$</p>

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModalforsell{{ item.id }}">
                    Sell
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModalforsell{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabelforsell{{ item.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="background-color: #212529;">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabelforsell{{ item.id }}">{{ item.name }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are You Sure You Wanna Sell {{item.name}} For {{item.price}}$?
                                <form method="POST" class="form-signin" style="color:white;">
                                    {{ Sell_form.hidden_tag() }}
                                    <br>
                                    <input id="item_sell_id" name="item_sell_id" type="hidden" value="{{item.id}}">
                                    {{Sell_form.submit(class="btn btn-lg btn-block btn-outline-success")}}
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
    
                </div>
            </div>
        {% endfor %}
    </div>
  </div>

{% endblock %}