{% extends 'layout.html' %}

{% block title %}
    Market
{% endblock %}

{% block body %}
<table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody class="table-group-divider table-dark">
        {% for i in dic %}
            <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.name}}</td>
                <td>{{i.description}}</td>
                <td>{{i.price}}$</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}