<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS locally -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="text-center">

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark"  style="color: white;">
        <div class="container-fluid" style="color: white;">
          <a class="navbar-brand" href="{{ url_for('index') }}" style="color: white;">Market</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="color: white;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="color: white;">
            <a class="nav-link" href="{{ url_for('database') }}" style="color: white;">Market</a>
            <div class="navbar-nav ms-auto" style="color: white;">
                
                {% if current_user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" style="color: lawngreen; font-weight: bold;">
                                <i class="fas fa-coins"></i> <!-- Font Awesome coins icon -->
                                {{ current_user.budget }}$
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;">Welcome, {{ current_user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}" style="color: white;">Logout</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('NewAccount') }}" style="color: white;">Sign UP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}" style="color: white;">Login</a>
                        </li>
                </ul>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>

      {% block body %}
      {% endblock %}

    <!-- Include Bootstrap JS and jQuery locally -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
