<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS locally -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>NewAccount</title>
</head>
<body class="text-center">

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark"  style="color: white;">
        <div class="container-fluid" style="color: white;">
          <a class="navbar-brand" href="/" style="color: white;">Market</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="color: white;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="color: white;">
            <div class="navbar-nav" style="color: white;">
                <a class="nav-link" href="/market" style="color: white;">Market</a>
                <a class="nav-link" href="/NewAccount" style="color: white;">Sign UP</a>
                <a class="nav-link" href="{{ url_for('login') }}" style="color: white;">Login</a>
            </div>
          </div>
        </div>
      </nav>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error</strong> {{ messages[0][1] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
      {% endwith %}

      <div class="container" style="width:50%;">
        <form method="POST" class="form-register" style="color:white;">
            {{ form.hidden_tag() }}
            <h3>
                Please Create Your Account
            </h3>
            <hr>
            {{form.username.label()}}
            {{form.username(class="form-control", placeholder="UserName")}}
            <hr>
            {{form.email.label()}}
            {{form.email(class="form-control", placeholder="Email")}}
            <hr>
            {{form.password.label()}}
            {{form.password(class="form-control", placeholder="PassWord")}}
            <hr>
            {{form.confirm_password.label()}}
            {{form.confirm_password(class="form-control", placeholder="Confirm PassWord")}}
            
            <br>

            <div class="checkbox mb-3">
                <h6>Already have an account?</h6>
                <a class="btn btn-sm btn-outline-light" href="{{ url_for('login') }}">Login</a>
            </div>


            {{form.submit(class="btn btn-lg btn-block btn-outline-secondary")}}
        </form>
      </div>

    <!-- Include Bootstrap JS and jQuery locally -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>