{% extends 'layout.html' %}

{% block title %}
    NewAccount
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error</strong> {{ messages[0][1] }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
{% endwith %}

<div class="container" style="width:50%;">
<form method="POST" class="form-register" style="color:white;">
    {{ form.hidden_tag() }}
    <h3>
        Please Create Your Account
    </h3>
    <hr>
    {{form.username.label()}}
    {{form.username(class="form-control", placeholder="UserName")}}
    <hr>
    {{form.email.label()}}
    {{form.email(class="form-control", placeholder="Email")}}
    <hr>
    {{form.password.label()}}
    {{form.password(class="form-control", placeholder="PassWord")}}
    <hr>
    {{form.confirm_password.label()}}
    {{form.confirm_password(class="form-control", placeholder="Confirm PassWord")}}
    
    <br>

    <div class="checkbox mb-3">
        <h6>Already have an account?</h6>
        <a class="btn btn-sm btn-outline-light" href="{{ url_for('login') }}">Login</a>
    </div>


    {{form.submit(class="btn btn-lg btn-block btn-outline-secondary")}}
</form>
</div>


{% endblock %}

